*{
    font-family: 'Gemunu Libre', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: #fff;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.title{
    font-size: 5rem;
    animation: slideDown 0.3s linear;
}
.text{
    font-size: 1.25rem;
    margin-top: 0.5rem;
}
.btn{
    text-decoration: none;
    border: 5px solid rgb(130,173 ,216  );
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    background-color: #2254f7;
    animation: slideUp 0.3s linear;
}
@keyframes slideUp {
    from{transform: translateY(50px);}
    to{transform: translateY(0);}
}
@keyframes slideDown{
    from{transform: translate(-50px,30px);}
    to{transform: translate(0px);}
}